/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    text-align: center;
    margin: 0px 4%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(1, 1, 100),
            rgb(1, 1, 75),
            rgb(0, 0, 50),
            rgb(1, 1, 25),
            rgb(1, 1, 0));
    color: white;
}

header {
    padding-top: 45px;
}

header img {
    margin-top: 10px;
    width: 150px;
}


#btn-cta {
    padding-top: 25px;

}

#btn-cta button {
    padding: 1rem;
    width: 13rem;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 10px 1px black;
}

.image-txt-serv img {
    width: 80%;
    padding: 0px auto;
    margin-top: 30px;
    animation: imagensServicos 1ms linear;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;


}

.image-txt-serv h2 {
    animation: imagensServicos 1ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
    color: rgb(255, 255, 255);
    text-decoration: underline red;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.image-txt-serv #google-ads-img {
    width: 200px;
}

.first-section p {
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    animation: imagensServicos 1ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
    border-bottom: solid 1px;
    padding-bottom: 10px;
}

.second-section {
    padding-top: 10px;
}

.plataformas-e-commerce-market-places-imagens {
    display: flex;
    justify-content: space-between;
    margin: 5%;

}

.plataformas-e-commerce-market-places-imagens img {
    width: 70px;
    background-color: rgba(255, 255, 255, 0.053);
    padding: 5px;
    border-radius: 5px;
}

.image-digital-marketing img {
    width: 100%;
    border-radius: 10px;
    background-image: url(image.css/homem-com-smartphone-na-mao-image.avif);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10% 0;
    padding: 20% 0;
}

footer {
    background-color: red;
    margin: 15px 0;
    border-radius: 5px;
    padding: 1%;
}

.feedback-section {
    max-width: 600px;
    margin: auto;
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.feedback {
    margin: 15px 0;
    padding: 10px;
    border-left: 4px solid #f39c12;
}

.stars {
    color: #f39c12;
    /* Cor das estrelas */
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    color: #c4c4c4;
}


h4 {
    z-index: 999;
    right: 0;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: red;
    border-bottom: solid 2px black;
    padding: 3px;
    border-radius: 3px;
    animation-name: sale;
    animation-duration: 2000ms;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    animation-iteration-count: infinite;
}

nav {
    margin: 30px auto;
}


a:hover {
    background-color: rgba(255, 0, 0, 0.307);
    color: rgb(255, 255, 255);
}

.fa-brands {
    color: #ffffff;

    width: 20%;
    font-size: 25px;
}

@keyframes sale {
    from {
        color: red;
        background-color: red;

    }
}






@keyframes imagensServicos {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }

}

/* Tablets e dispositivos menores */
@media (max-width: 1024px) {
    body {
        font-size: 15px;
        padding: 15px;
    }
}

/* Tablets menores e smartphones na horizontal */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        padding: 10px;
    }
}

/* Smartphones grandes (em pé) */
@media (max-width: 600px) {
    body {
        font-size: 13px;
        padding: 8px;
        
    }

}

/* Smartphones pequenos */
@media (max-width: 480px) {
    body {
        font-size: 12px;
        padding: 5px;
    }
}

/* Smartphones muito pequenos e dispositivos compactos */
@media (max-width: 360px) {
    body {
        font-size: 11px;
        padding: 5px;
        
    }
}
